<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irodyk.serviceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.irodyk.serviceapp.MyService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
